resources/Task01_BrainTumour/imagesTr
resources/Task01_BrainTumour/labelsTr
resources/Task01_BrainTumour/imagesTs
resources/Task01_BrainTumour/subvolumes
resources/Task01_BrainTumour.zip

__pycache__
*/__pycache__