resources/Task01_BrainTumour/imagesTr
resources/Task01_BrainTumour/labelsTr
resources/Task01_BrainTumour/imagesTs
resources/Task01_BrainTumour/subvolumes
resources/Task01_BrainTumour/128_subvolumes
resources/Task01_BrainTumour.zip
resources/best_model


__pycache__
*/__pycache__

.DS_Store
*/.DS_Store
*/*/.DS_Store
